.App {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.Input {
  margin-bottom: 10px;
}

.Input p {
  color: gray;
}

.Display {
  font-size: 24px;
  align-self: center;
}